---
layout: endefault
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%b %-d, %Y" }}</i>{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>
<article>
{{content}}
</article>
<div id="info-bottom">
<hr>    
<p>Tags: {% for tag in page.tags %}<block class="tag"><a href="/enarchive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
<p><b>Comment</b> by <a href="https://github.com/homeless2010/homeless2010.github.io/issues"> Github Issues </a></p>
<p><b>Chat</b> in <a href="https://t.me/wghktsdbmjsa">telegram</a> </p>
</div>